<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Alimentos</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link href="../static/css/main.css" th:href="@{/css/main.css}"  type="text/css"  rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <!-- Encabezado -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h1>Alimentos</h1>
      <p class="text-muted">Ordenado por fecha de vencimiento más reciente</p>
    </div>
    <button class="btn btn-register"><a th:href="@{/admin/gestion-donacion/nuevo}">Registrar nuevo ingreso</a></button>
  </div>
  <div class="mb-4">
  </div>
  <!-- Lista de donaciones -->
  <div class="list-group">
    <div class="list-group-item p-3 food-item" th:each="donacion : ${donaciones}">
      <div class="d-flex align-items-center">
        <img th:src="@{/imagenes/d6.png}"  alt="Imagen de donacion" class="me-3"/>
        <div>
          <h5 th:text="${donacion.descDonMonetaria}">Descripcion</h5>
          <p class="mb-1 text-muted" th:text="'Cantidad: '+ ${donacion.montoDonacion}">
            Cantidad desconocida.
          </p>
          <button class="btn btn-register"><a th:href="@{/helper/gestion-donacion/{id}/usar(id = ${donacion.idDonMonetaria})}">Usar</a></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <nav aria-label="Paginación de alimentos" class="mt-4">
    <ul class="pagination">
      <li class="page-item" th:classappend="${paginaActual == 1} ? 'disabled'">
        <a class="page-link" th:href="'?pagina=' + ${paginaActual - 1}">Anterior</a>
      </li>
      <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPaginas)}" th:classappend="${i == paginaActual} ? 'active'">
        <a class="page-link" th:href="'?pagina=' + ${i}" th:text="${i}">1</a>
      </li>
      <li class="page-item" th:classappend="${paginaActual == totalPaginas} ? 'disabled'">
        <a class="page-link" th:href="'?pagina=' + ${paginaActual + 1}">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
